body {
    font-family: Arial, Helvetica, sans-serif;
}

body > div {
    width: 50%;
}

#looking {
    background-color: #ffff04;
    color: rgba(5, 5, 101, 0.708);
    padding: 10px;
    text-align: center;
}

#looking > button {
    background-color: transparent;
    border: none;
    color:rgba(5, 5, 101, 0.708);;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    outline: none;
}

#products ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#products li {
    border: 2px solid brown;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
}

img {
    width: 150px;
}

.products p {
    font-size: 24px;
}

#shopping-cart {
    background-color: #0d84edcd;
    min-height: 100vh;
    text-align: center;
    width: 35%;
}

#shopping-cart ul {
    list-style: none;
    padding: 0;
}

#shopping-cart li {
    color: white;
    font-size: 21px;
    margin-bottom: 16px;
}



section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#yellow {
    background-color: #ffff04;
    width: 60%;
    
}

#main {
    width: 1000px;
    margin: 0 auto;

}

header {
    text-align: center;
    margin: 0 auto;
    width: 1000px;
}

footer {
    text-align: center;
}




